{
    "plugins": ["prettier-plugin-solidity", "prettier-plugin-svelte", "prettier-plugin-ember-template-tag", "prettier-plugin-marko"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}