---
import CounterComponent from '../../framework/vue/Counter.vue';
import styles from "../../styles/index.css?url";
const initialCount = 5;
const showMessage = "showMessage";
---

<link href={styles} rel="stylesheet" />
<script>
    import { atom } from "nanostores";
    window["showMessage"] = (count) => {
        document.getElementById("counter").textContent = count;
    };
    window.Stores = [];
    window.Stores["reactStore"] = atom("Test Value");
    document.addEventListener("DOMContentLoaded", function () {
        const input = document.getElementById("store");
        input.value = window.Stores["reactStore"].get();
    });
</script>
<div class="counter-title">HTML Content</div>
<div class="card-grid">
    <div class="card">
        Value sent back from component.
        <div class="card-content">
            <div style="text-align: center; margin-top: 30px;">
                Counter value sent back: <br /><span id="counter"></span>
            </div>
        </div>
    </div>
    <div class="card">
        Update Nano Store value
        <div class="card-content">
            <div style="text-align: center; margin-top: 30px;">
                <input
                    id="store"
                    placeholder="Type something..."
                    type="text"
                /><button
                    class="card-btn"
                    onclick="window.Stores['reactStore'].set(document.getElementById('store').value)"
                    >Update Store</button
                >
            </div>
        </div>
    </div>
</div>
<hr />
<link href={styles} rel="stylesheet" />
<script is:inline>
    window.showMessage = (count) => {
        document.getElementById("counter").textContent = count;
    };
</script>
<CounterComponent client:only="vue" initialCount={initialCount} showMessage={showMessage}>
    <div class="counter-title" slot="header">
        Counter
    </div>
    <div style="text-align: center;">
        <p>Slot content!</p>
    </div>
</CounterComponent>
<div style="text-align: center; margin-top: 20px;">Counter value: <span id="counter"></span></div>