---
import CounterComponent from '../vue/components/Counter.vue';
import styles from "../styles/index.css?url";
const initialCount = 5;
const showMessage = "showMessage";
---
<link rel="stylesheet" href={styles} />
<script is:inline>
    document.showMessage = (count) => {
        document.getElementById("counter").textContent = count;
    };
</script>
<CounterComponent InitialCount={initialCount} ShowMessage={showMessage} client:only="vue">
    <div class="counter-title" slot="header">
        Counter
    </div>
    <div style="text-align: center;">
        <p>Slot content!</p>
    </div>
</CounterComponent>
<div style="text-align: center; margin-top: 20px;">Counter value: <span id="counter"></span></div>