import MarkoLogo from "../../images/marko.png?url";

<div class="card unused">
  <strong>Marko Store</strong>
  <div class="card-content">
    <img alt="Marko logo" height="150" src=MarkoLogo>
    <div>
      <strong>Marko does not currently support Nano Stores.</strong>
    </div>
  </div>
</div>
