---
import CounterComponent from '../../framework/angular/Counter.component';
import styles from "../../styles/index.css?url";
const initialCount = 5;
const showMessage = "showMessage";
---
<link href={styles} rel="stylesheet" />
<script is:inline>
    document.showMessage = (count) => {
        document.getElementById("counter").textContent = count;
    };
</script>
<CounterComponent client:visible initialCount={initialCount} showMessage={showMessage}>
</CounterComponent>
<div style="text-align: center; margin-top: 20px;">Counter value: <span id="counter"></span></div>
