name: Test

on:
  pull_request:
  push:
    branches: [ main ]

env:
  NODE_VERSION: '24.12.0'

jobs:

  cli-bun:

    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.0

      - name: Install dependencies
        run: bun install

      - name: Run CLI
        run: bun run bin/cli.js --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: bun install && bun run output:bun

  cli-deno:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install Deno
        uses: denoland/setup-deno@v2.0.3

      - name: Install dependencies
        run: deno install

      - name: Run CLI
        run: deno --allow-env --allow-read --allow-write --allow-run bin/cli.js --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: deno install && deno run output:deno

  cli-npm:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Run CLI
        run: npx create-outsystems-astro --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: npm ci && npm run output

  cli-pnpm:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Run CLI
        run: pnpm exec bin/cli.js --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: pnpm install --frozen-lockfile && pnpm run output

  cli-yarn:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install

      - name: Link
        run: yarn link

      - name: Link package
        run: yarn link create-outsystems-astro

      - name: Run CLI
        run: |
          yarn add file:$GITHUB_WORKSPACE
          yarn create-outsystems-astro --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: yarn install --frozen-lockfile && yarn run output

  framework-all:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run CLI
        run: npx create-outsystems-astro --projectName test-islands --frameworks angular --frameworks react --frameworks vue

      - name: Run output
        working-directory: test-islands
        run: npm ci && npm run output

  framework-angular:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run CLI
        run: npx create-outsystems-astro --projectName test-islands --frameworks angular

      - name: Run output
        working-directory: test-islands
        run: npm ci && npm run output

  framework-react:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run CLI
        run: npx create-outsystems-astro --projectName test-islands --frameworks react

      - name: Run output
        working-directory: test-islands
        run: npm ci && npm run output

  framework-vue:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run CLI
        run: npx create-outsystems-astro --projectName test-islands --frameworks vue

      - name: Run output
        working-directory: test-islands
        run: npm ci && npm run output

  security-docs:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        working-directory: docs
        run: npm ci

      - name: Run security check
        working-directory: docs
        run: npm audit

  security-template:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Restore node_modules
        uses: actions/cache@v5.0.1
        with:
          path: |
            template/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Run security check
        working-directory: template
        run: npm audit

